@import "bootstrap-sprockets";
@import "bootstrap";
/* universal*/
body{
	padding-top: 10px;
}

section{
	overflow:auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: centre;
}

.center h1{
	margin-bottom: 50px;
}
/*header*/
#logo{
	float: left;
	margin-right: 10px;
	font-size: 3.2em;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
img{
	padding-top: 9px;
}
